* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: aliceblue;
    height: 60px;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

a {
    margin-right: 5%;
}

#logo {
    height: 100%;
}